.messageList {
  padding: 1.5rem;
  height: 90%;
  overflow-y: auto;
  position: relative;
}

.userMessage {
  margin-bottom: 2.8rem;
  display: flex;
  justify-content: flex-end;
  margin-right: 1rem;
}

.userMessage .userMessageText {
  max-width: 76%;
  display: inline-block;
  text-align: left;
  position: relative;

  padding: 0.5rem 1rem;
  background-color: var(--secondary-color);
  border-radius: var(--radius-minimum);
  box-shadow: var(--box-shadow-secondary);
}

.userMessageText .userMessagePolygon {
  width: 1.5rem;
  height: 1.5rem;
  position: absolute;
  top: 50%;
  left: 100%;
  transform: translateY(-50%);
  clip-path: polygon(100% 50%, 0 0, 0 100%);
  background-color: var(--secondary-color);
}

.userMessageDate {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  margin-left: 1.5rem;
  font-weight: 600;
  font-size: 0.9rem;
}

.userMessageDate svg {
  margin-left: 0.2rem;
}

.userMessage:last-of-type {
  margin-bottom: 0;
}

.message {
  display: flex;
  justify-content: flex-start;
  margin-bottom: 2.8rem;
}

.message:last-of-type {
  margin-bottom: 0;
}

.messageAvatar {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.avatar {
  padding: 1rem;

  border-radius: 50%;
  border: .3rem solid var(--default-color);
}

.messageUsername{
  padding: 0 0.8rem;
  margin-top: 0.3rem;

  font-size: 1.1rem;
  font-weight: 600;
  color: var(--default-color);
}

.messageText {
  max-width: 58%;
  position: relative;
  align-self: baseline;
  margin-left: 1.5rem;

  padding: 0.5rem 1rem;
  background-color: var(--secondary-color);
  border-radius: var(--radius-minimum);
  box-shadow: var(--box-shadow-secondary);
}

.messageText .MessagePolygon {
  position: absolute;
  left: -2rem;
  top: 23%;

  width: 2.5rem;
  height: 2.5rem;
  background-color: var(--secondary-color);

  clip-path: polygon(0 50%, 100% 100%, 100% 0);
}

.text {
  white-space: pre-line;
  overflow-wrap: break-word;

  font-size: 1.2rem;
  font-weight: 500;
}

.messageDate {
  display: flex;
  align-items: center;
  justify-content: flex-end;

  margin-left: 1.8rem;

  font-size: 0.9rem;
  font-weight: 600;

  bottom: 2%;
  right: 1%;
  font-weight: 600;
}

.messageText span svg {
  margin-left: 0.2rem;
}

